[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
google = "*"
"google-auth-httplib2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
